*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url("../img/fondo_pantalla5.jpg");
	background-size: cover;
	color: white;
	text-shadow: 2px 2px 10px black;
}

.profile, .experience, .studies{
	background-color: rgba(125, 130, 165, 0.82);
	display: flex;
	width: 90%;
	margin: auto;
	border-radius: 20px;
	border-top-left-radius: 150px;
	border-bottom-left-radius: 150px;
	align-items: center;
	padding: 10px;
	box-shadow: rgba(255, 255, 255, 0.3) 5px 5px 25px;
	margin-bottom: 30px;
}

h3 + p{
	font-size: 20px;
}

h3{
	margin: 10px 0;
	font-size: 22px;
}

.profile img{
	width: 15%;
	border-radius: 50%;
}

.profile div{
	margin-left: 40px;
}

h1{
	margin: 60px 0 0 0;
	text-align: center;
	color: black;
  	text-shadow: -2px -2px 0 white,
               2px -2px 0 white,
              -2px  2px 0 white,
               2px  2px 0 white;
}

h2{
	font-size: 26px;
  	text-shadow: -1px -1px 0 black,
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header{
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(94, 139, 196, .8);
	margin-bottom: 50px;
}

nav ul{

	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul a{
	text-decoration: none;
	text-shadow: none;
	margin: 0px 20px;
	color: white;
	font-weight: bold;
}

.autis_logo{
	width: 70%;
	margin: auto;
}

.section_icon{
	width: 50px;
}

.section_title{
	margin-bottom: 0;
	margin-left: 10%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .experience div:first-child{
	display: flex;
	flex-direction: column;
	width: 15%;
	gap:5px;
	text-align: center;
	justify-content: center;
	margin-right: 30px;
}

.experience li{
	margin-left: 20px;
	font-size: 20px;
}

.experience ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.logo_UPV{
	width: 13%;
	margin: 0 15px;
}

.studies li{
	font-size: 20px;
	margin-left: 20px;
}

.studies div{
	margin-left: 30px;
}

.studies ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer{
	background-color: rgba(0,0,0, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;
	height: 5vh;
}

footer div{
	display: flex;
	align-items: center;
	min-width: 200px;
}

.footer_image{
	height: : 10%;
	margin: 0 10px;
}