body{
	font-family: sans-serif;
	color: white;
	background-color: black;
}

main{
	padding-top: 5vh;
}

nav{
	display: flex;
	justify-content: space-between;
	gap:10px;
	padding: 5px;
	border-bottom: 1px solid rgba(53, 53, 53, 0.9);
	align-items: center;
	background-color: #0009;
	position: fixed;
	width: 100%;
}

nav ul{
	display: flex;
	justify-content: space-around;
	min-width: 400px;
	text-align: center;
}

nav a{
	text-decoration: none;
	color: white;
}

nav button{
	border-style: none;
	background-color: grey;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	border-radius: 9px;
	padding: 2px 12px;
}

nav img{
	height: 25px;
}

#Home{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: end;
}

#Home img{
	order: 2;
	width: 80%;
}

#Home p{
	color: white;
}

.main-text{
	order: 1;
	position: absolute;
	width:50%;
	left:0;
	text-align: center;
}

@media screen and (max-width: 600px){
	nav{
		flex-direction: column;
		justify-content: center;

	}
	nav ul{
		flex-direction: column;
	}
}